
@model KDINH_1911061106.Models.Course
    @{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<form>
    <div class=" form-group">
        @Html.LabelFor(m => m.Place)
        @Html.TextBoxFor(m => m.Place, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.DateTime)
        @Html.TextBoxFor(m => m.DateTime, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.DateTime)
        @Html.TextBoxFor(m => m.DateTime, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Category)
        
    </div>
    <button type="submit" value=" Save" class="btn btn-primary"> Save </button>
            <div class=" form-group"></div>
            <div class=" form-group"></div>
            <div class=" form-group"></div>
            

</form>